
presentations/.DS_Store
presentations/pres_intro/.DS_Store
*.vrb
*.toc
*.snm
*.out
*.nav
*.log
*.aux
deliverables/proposal/.DS_Store
deliverables/.DS_Store
*.lb
*.fdb_latexmk
*.fls
deliverables/project_plan/project_plan.synctex.gz
deliverables/plan/project_plan.synctex.gz
code/.DS_Store
*.gz
